In [63]:
#################Header Files###################################################################
from two_TrAdaBoostR2 import TwoStageTrAdaBoostR2

import pandas as pd
import sys
import numpy as np
from pandas import DataFrame
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor

from keras.models import Sequential, load_model, Model
from keras.layers import Input, Dense, Activation, Conv2D, Dropout, Flatten
from keras import optimizers, utils, initializers, regularizers
import keras.backend as K

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler #Importing the StandardScaler

from itertools import combinations

import matplotlib.pyplot as plt
import seaborn as sns

from scipy.stats.stats import pearsonr
from math import sqrt

################# Geo plotting libraries
import geopandas as gdp
from matplotlib.colors import ListedColormap
# import geoplot as glpt

import xgboost as xgb
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn import linear_model
from keras.models import Sequential
from keras.callbacks import ModelCheckpoint
from sklearn.ensemble import GradientBoostingRegressor

from statistics import mean
from sklearn.cluster import KMeans
from scipy.spatial import distance

print("Done uploading libraries")

Done uploading libraries

In [64]:
############################## UCI Italian dataset #######################################################
## 2 years and single terrain
aqi_df = pd.read_csv('AQI_datasets/UCI_AQI/AirQualityUCI.csv', sep=',', delimiter=";", decimal=",", index_col = None, header=0)

aqi_df.head(20)
# aqi_df.shape
aqi_df.columns

## Predictors: T,Ah,Rh, NMHC_GT, NOx_GT, CO_GT, C6H6_GT ,Target: O3

Index(['Date', 'Time', 'CO_GT', 'PT08_S1_CO', 'NMHC_GT', 'C6H6_GT',
       'PT08_S2_NMHC', 'NOx_GT', 'PT08_S3_NOx', 'NO2_GT', 'PT08_S4_NO2',
       'PT08_S5_O3', 'T', 'RH', 'AH', 'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')

In [65]:
def remove_outlier(col):
    aqi_df[col] = aqi_df.groupby('Date')[col].transform(lambda x: x.fillna(x.mean()))


#drop end rows with NaN values
aqi_df.dropna(how = 'all', inplace = True)

drop_unamed = ['Unnamed: 15', 'Unnamed: 16']
aqi_df = aqi_df.drop(drop_unamed, axis = 1)
aqi_df.columns
# aqi_df.shape
# aqi_df

#Observing data statistics
# aqi_df.describe()

#Drop unwanted columns
drop_uw = ['Time', 'PT08_S1_CO', 'PT08_S2_NMHC', 'PT08_S3_NOx', 'NO2_GT', 'PT08_S4_NO2']
aqi_df = aqi_df.drop(drop_uw, axis = 1)
aqi_df

#Replace the -200 values seen in the dataset with 
aqi_df.replace(to_replace = -200, value = np.NaN, inplace = True)

#Replace the NaN values with the column mean
col_list = aqi_df.columns[1:]
for i in col_list:
    remove_outlier(i)

aqi_df.fillna(method ='ffill', inplace= True)
aqi_df.dropna(axis = 0)
aqi_df

#Convert 'Date' column to datetime and then seperate out year and month into different columns.
aqi_df.Date = pd.to_datetime(aqi_df.Date)
aqi_df['Year'] = aqi_df['Date'].dt.year
aqi_df['Month'] = aqi_df['Date'].dt.month
drop_date = ['Date']
aqi_df = aqi_df.drop(drop_date, axis = 1)
aqi_df

,CO_GT,NMHC_GT,C6H6_GT,NOx_GT,PT08_S5_O3,T,RH,AH,Year,Month
0,2.6,150.0,11.9,166.0,1268.0,13.6,48.9,0.7578,2004,10
1,2.0,112.0,9.4,103.0,972.0,13.3,47.7,0.7255,2004,10
2,2.2,88.0,9.0,131.0,1074.0,11.9,54.0,0.7502,2004,10
3,2.2,80.0,9.2,172.0,1203.0,11.0,60.0,0.7867,2004,10
4,1.6,51.0,6.5,131.0,1110.0,11.2,59.6,0.7888,2004,10
...,...,...,...,...,...,...,...,...,...,...
9352,3.1,275.0,13.5,472.0,1729.0,21.9,29.3,0.7568,2005,4
9353,2.4,275.0,11.4,353.0,1269.0,24.3,23.7,0.7119,2005,4
9354,2.4,275.0,12.4,293.0,1092.0,26.9,18.3,0.6406,2005,4
9355,2.1,275.0,9.5,235.0,770.0,28.3,13.5,0.5139,2005,4
9356,2.2,275.0,11.9,265.0,816.0,28.5,13.1,0.5028,2005,4

In [66]:
#Split the dataset according to the year.
aqi_df_2004 = aqi_df[aqi_df['Year'] == 2004]
aqi_df_2005 = aqi_df[aqi_df['Year'] == 2005]

aqi_df_2004 = aqi_df_2004.reset_index(drop=True)
aqi_df_2005 = aqi_df_2005.reset_index(drop=True)


#Divide the dataframe into target and the predictors.
target_uci_col = ['PT08_S5_O3']
aqi_df_2004_target = aqi_df_2004[target_uci_col]
aqi_df_2004_target.columns = ['O3']

aqi_df_2005_target = aqi_df_2005[target_uci_col]
aqi_df_2005_target.columns = ['O3']

aqi_df_2004_predictors = aqi_df_2004.drop(target_uci_col, axis = 1)
aqi_df_2004_predictors.columns = ['CO', 'NMHC', 'C6H6', 'NOx', 'Temp', 'RH', 'AH', 'Year', 'Month']

aqi_df_2005_predictors = aqi_df_2005.drop(target_uci_col, axis = 1)
aqi_df_2005_predictors.columns = ['CO', 'NMHC', 'C6H6', 'NOx', 'Temp', 'RH', 'AH', 'Year', 'Month']

aqi_df_2004_target
aqi_df_2004_predictors

aqi_df_2005_target
# aqi_df_2005_predictors

          O3
0     1201.0
1     1617.0
2     1355.0
3     1296.0
4     1131.0
...      ...
2242  1729.0
2243  1269.0
2244  1092.0
2245   770.0
2246   816.0

[2247 rows x 1 columns]

In [67]:
## Standardize the dataset
columns_uci = ['CO', 'NMHC', 'C6H6', 'NOx', 'Temp', 'RH', 'AH', 'Year', 'Month']
cols_to_norm = ['CO', 'NMHC', 'C6H6', 'NOx', 'Temp', 'RH', 'AH']

ss = StandardScaler()
aqi_df_2004_predictors[cols_to_norm] = ss.fit_transform(aqi_df_2004_predictors[cols_to_norm])
aqi_df_2005_predictors[cols_to_norm] = ss.fit_transform(aqi_df_2005_predictors[cols_to_norm])

aqi_df_2004_predictors

,CO,NMHC,C6H6,NOx,Temp,RH,AH,Year,Month
0,0.357434,-1.403072,0.167727,-0.251434,-0.897718,0.030505,-1.028223,2004,10
1,-0.073637,-1.872833,-0.163670,-0.580486,-0.935168,-0.038507,-1.115824,2004,10
2,0.070053,-2.169524,-0.216693,-0.434241,-1.109937,0.323803,-1.048835,2004,10
3,0.070053,-2.268421,-0.190181,-0.220095,-1.222288,0.668860,-0.949843,2004,10
4,-0.361018,-2.626923,-0.548090,-0.434241,-1.197321,0.645856,-0.944148,2004,10
...,...,...,...,...,...,...,...,...,...
7105,-0.648398,0.142195,-0.707160,-0.256657,-1.434508,-0.849390,-2.010003,2004,12
7106,-0.648398,0.142195,-0.707160,-0.256657,-1.397057,-0.924153,-2.033598,2004,12
7107,-0.648398,0.142195,-0.680649,-0.256657,-1.459475,-0.912651,-2.062075,2004,12
7108,-0.648398,0.142195,-0.667393,-0.256657,-1.459475,-0.642356,-1.914537,2004,12
7109,-0.648398,0.142195,-0.799951,-0.256657,-1.621760,-0.573345,-1.975559,2004,12

In [68]:
#Splitting dataset into train, test and source.
### Case 1: 0.96
### Case 2: 0.999
X_2005_train, X_2005_test, y_2005_train, y_2005_test = train_test_split(aqi_df_2005_predictors, aqi_df_2005_target, test_size = 0.96, random_state = 1)

X_2004 = aqi_df_2004_predictors
y_2004 = aqi_df_2004_target

X_source = X_2004
X_source['O3'] = y_2004

X_train = X_2005_train
X_train['O3'] = y_2005_train

X_test = X_2005_test
X_test['O3'] = y_2005_test

X_source, X_train.shape, X_test.shape

<ipython-input-68-ed7a96daac60>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['O3'] = y_2005_train
<ipython-input-68-ed7a96daac60>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['O3'] = y_2005_test

(            CO      NMHC      C6H6       NOx      Temp        RH        AH  \
 0     0.357434 -1.403072  0.167727 -0.251434 -0.897718  0.030505 -1.028223
 1    -0.073637 -1.872833 -0.163670 -0.580486 -0.935168 -0.038507 -1.115824
 2     0.070053 -2.169524 -0.216693 -0.434241 -1.109937  0.323803 -1.048835
 3     0.070053 -2.268421 -0.190181 -0.220095 -1.222288  0.668860 -0.949843
 4    -0.361018 -2.626923 -0.548090 -0.434241 -1.197321  0.645856 -0.944148
 ...        ...       ...       ...       ...       ...       ...       ...
 7105 -0.648398  0.142195 -0.707160 -0.256657 -1.434508 -0.849390 -2.010003
 7106 -0.648398  0.142195 -0.707160 -0.256657 -1.397057 -0.924153 -2.033598
 7107 -0.648398  0.142195 -0.680649 -0.256657 -1.459475 -0.912651 -2.062075
 7108 -0.648398  0.142195 -0.667393 -0.256657 -1.459475 -0.642356 -1.914537
 7109 -0.648398  0.142195 -0.799951 -0.256657 -1.621760 -0.573345 -1.975559

       Year  Month      O3
 0     2004     10  1268.0
 1     2004     10   972.0
 2     2004     10  1074.0
 3     2004     10  1203.0
 4     2004     10  1110.0
 ...    ...    ...     ...
 7105  2004     12   866.0
 7106  2004     12   884.0
 7107  2004     12   951.0
 7108  2004     12  1195.0
 7109  2004     12  1138.0

 [7110 rows x 10 columns],
 (89, 10),
 (2158, 10))

In [69]:
######################################## Seeding Technique ###################################################
kmeans = KMeans(n_clusters = 9, random_state=0).fit(X_source)

Alternate_df = X_train.copy()
idxlist = []
Alternate_df_np = Alternate_df.to_numpy()

new_df_list = []


for rowkm in kmeans.cluster_centers_:
    mindist = -99
    rowidx = 0
    idx = 0
    for row in Alternate_df_np:
        dst = distance.euclidean(row, rowkm)

        if(dst >= mindist):
            mindist = dst
            rowidx = idx
            rowval = row

        idx = idx + 1

    print("Row selected: ", rowidx) #Alternate_df.loc[rowidx,:]\
    print("Min. distance: ", mindist)
    print("Matrix shape: ", Alternate_df_np.shape)
    new_df_list.append(rowval)
    Alternate_df_np = np.delete(Alternate_df_np, rowidx, 0)
    idxlist.append(rowidx)


new_df = pd.DataFrame(np.vstack(new_df_list))
#new_df
new_df.shape
#new_df.dtypes

Row selected:  70
Min. distance:  1344.9074728858318
Matrix shape:  (89, 10)
Row selected:  68
Min. distance:  1562.3713206106615
Matrix shape:  (88, 10)
Row selected:  72
Min. distance:  852.3552135334177
Matrix shape:  (87, 10)
Row selected:  53
Min. distance:  1289.910827552914
Matrix shape:  (86, 10)
Row selected:  53
Min. distance:  1421.1933387906524
Matrix shape:  (85, 10)
Row selected:  26
Min. distance:  1048.7054940159896
Matrix shape:  (84, 10)
Row selected:  24
Min. distance:  1634.3847142128568
Matrix shape:  (83, 10)
Row selected:  22
Min. distance:  738.5341311705486
Matrix shape:  (82, 10)
Row selected:  48
Min. distance:  1035.1260844153708
Matrix shape:  (81, 10)

(9, 10)

In [70]:
##################################################### Phase 2: Seeding ################################################

alt_source_df = X_source.copy()
idxlist2 = []
alt_source_df_np = alt_source_df.to_numpy()

final_df_list = []

for row_nm in new_df_list:
    min_dist = -99
    row_idx = 0
    idx_val = 0
    for row_alt in alt_source_df_np:
        dst = distance.euclidean(row_alt, row_nm)
        if(dst >= mindist):
            min_dist = dst
            row_idx = idx_val
            row_val = row_alt

        idx_val = idx_val + 1

    print("Row selected: ", row_idx) #Alternate_df.loc[rowidx,:]\
    print("Min. distance: ", min_dist)
    print("Matrix shape: ", alt_source_df_np.shape)
    final_df_list.append(row_val)
    alt_source_df_np = np.delete(alt_source_df_np, row_idx, 0)
    idxlist2.append(row_idx)


final_df = pd.DataFrame(np.vstack(final_df_list), columns= X_source.columns)
final_df
final_df.shape

print("Shape before :",X_source.shape)
X_source = pd.concat([X_source, final_df])
X_source = X_source.drop_duplicates(keep=False)
print("Shape after :",X_source.shape)

Row selected:  7023
Min. distance:  1152.0513415560158
Matrix shape:  (7110, 10)
Row selected:  7108
Min. distance:  1356.0107165030229
Matrix shape:  (7109, 10)
Row selected:  7106
Min. distance:  1161.065971359901
Matrix shape:  (7108, 10)
Row selected:  7105
Min. distance:  1036.0673907892638
Matrix shape:  (7107, 10)
Row selected:  7101
Min. distance:  1137.0616806326
Matrix shape:  (7106, 10)
Row selected:  6964
Min. distance:  1082.0662795204655
Matrix shape:  (7105, 10)
Row selected:  6963
Min. distance:  1047.0578562791309
Matrix shape:  (7104, 10)
Row selected:  7098
Min. distance:  1235.0484574418535
Matrix shape:  (7103, 10)
Row selected:  7097
Min. distance:  1090.0528847201454
Matrix shape:  (7102, 10)
Shape before : (7110, 10)
Shape after : (7071, 10)

In [71]:
X_train = pd.concat([X_train, final_df], ignore_index=True)

X_train.to_csv('ActiveSampling/O3_seeded_train.csv',index=False)
X_source.to_csv('ActiveSampling/O3_seeded_source.csv',index=False)

# X_train.to_csv('ActiveSampling/UCI_NO2_activesampling_train.csv',index=False)
# X_source.to_csv('ActiveSampling/UCI_NO2_activesampling_source.csv',index=False)
# X_test.to_csv('ActiveSampling/UCI_NO2_activesampling_test.csv',index=False)

In [72]:
X_train = pd.read_csv('ActiveSampling/O3_seeded_train.csv')
X_source = pd.read_csv('ActiveSampling/O3_seeded_source.csv')

X_source['ManDis'] = 0.0

train_df_mean = []
prow = X_train.mean()
train_df_mean = [prow.CO, prow.NMHC, prow.C6H6, prow.NOx, prow.Temp, prow.RH, prow.AH, prow.Year, prow.Month, prow.O3]

rowidx = 0
for row in X_source.itertuples():
    row_list =[row.CO, row.NMHC, row.C6H6, row.NOx, row.Temp, row.RH, row.AH, row.Year, row.Month, row.O3]

    man_dis = 0
    for i in range(0, len(row_list)):
        tempval = train_df_mean[i] - row_list[i]
        man_dis = man_dis + abs(tempval)
    
    X_source.loc[rowidx,"ManDis"] = man_dis
    # print(Source_df.loc[rowidx,"ManDis"])
    rowidx = rowidx + 1


X_source_rest = X_source.sort_values('ManDis')
X_source = X_source.head(3600)
X_source_rest = X_source.iloc[3600:]
X_source_rest = X_source_rest.drop(['ManDis'], axis =1)
X_source = X_source.drop(['ManDis'], axis =1)

X_train.to_csv('ActiveSampling/UCI_O3_activesampling_train.csv',index=False)
X_source.to_csv('ActiveSampling/UCI_O3_activesampling_source.csv',index=False)
X_test.to_csv('ActiveSampling/UCI_O3_activesampling_test.csv',index=False)

print("Done !!!!!")
X_source
X_train

Done !!!!!

,CO,NMHC,C6H6,NOx,Temp,RH,AH,Year,Month,O3
0,-0.236089,0.000000,-0.093770,-0.169728,-0.692434,1.618722,0.377326,2005.0,7.0,940.000000
1,-0.753174,0.000000,-0.963184,-1.032445,-0.961145,-0.867393,-1.269811,2005.0,7.0,517.000000
2,-0.679304,0.000000,-0.652679,-0.759251,1.564738,-1.575074,-0.319355,2005.0,2.0,556.000000
3,-0.753174,0.000000,-0.544002,-0.653808,0.024128,1.391033,1.089171,2005.0,12.0,958.000000
4,-0.236089,0.000000,0.828970,-0.255999,0.255453,0.841476,0.950868,2005.0,5.0,1518.347826
...,...,...,...,...,...,...,...,...,...,...
93,-0.648398,0.142195,-0.667393,-0.256657,-0.935168,-1.200198,-1.948438,2004.0,12.0,740.000000
94,1.722493,0.142195,0.684706,1.560967,-1.297189,1.962823,-0.261242,2004.0,12.0,1494.000000
95,1.794338,0.142195,0.512380,1.691543,-1.309673,1.980076,-0.271276,2004.0,12.0,1470.000000
96,-0.648398,0.142195,-0.866231,-0.256657,-1.010069,-1.148440,-1.955218,2004.0,12.0,592.000000
97,-0.648398,0.142195,-0.667393,-0.256657,-1.097453,-0.993164,-1.906401,2004.0,12.0,731.000000